body {
  margin: 0;
  background-color: #FFEAD4;
  overflow-x: hidden;
}

.container-header {
    width: 100vw;
}

.lett-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    margin-top: 10%;
    fill: transparent;
    animation: lett-preenchimento 0.5s ease-in-out forwards 4s; 
}

.lett-header path {
    stroke-width: 2px;
    stroke: #BE253F;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: lett-tracado 5s ease-in-out forwards 1s; 
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    color: #BE253F;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-family: 'Lato', sans-serif;
    color: #484848;
    font-size: 1em;
}

.container-cards {
    width: 80%;
    margin: auto;
    display: flex;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

.div-teste {
    height: 500px;
}

@keyframes lett-preenchimento {
    to {
        fill: #BE253F;
    }
}

@keyframes lett-tracado {
    to {
        stroke-dashoffset: 0;
    }
}